body 
{ font-family: "Droid Sans", sans-serif; color: black; background-color: white; background-repeat: no-repeat; background-position: center top; }

p {}

td {}

a:link { color: blue }

a:visited { color: purple }

a:hover { color: purple }

a:active { color: red }
.login_bg { background-image: url(../img/bg-row-logo.gif); background-repeat: repeat-x; background-position: center; }
.logo { background-image: url(../img/logo.png); background-repeat: no-repeat; background-position: left top; }
.bank_carts 
{ 
-moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px;
background-image: url(../img/bank_carts.png); background-repeat: no-repeat; background-position: center; }
.login_logo { background-image: url(../../../BayiStok2014/resources/img/login_logo.png); background-repeat: no-repeat; background-position: center; }
.login_texts 
{ background-color: #fff; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; border-radius: 3px 3px 3px 3px; border: solid 1px #c6c6c6; }
.tooltip { background-image: url(../img/tooltip.png); background-repeat: no-repeat; background-position: right top; }
.login_help_bg { background-image: url(../../../BayiStok2014/resources/img/login_help_bg.png); background-repeat: no-repeat; background-position: center; }
.partners_register_title_bg 
{
-moz-border-radius: 2px 2px 2px 2px; -webkit-border-radius: 2px 2px 2px 2px; border-radius: 2px 2px 2px 2px;
background-color: #e9e7da; border: solid 1px #dad7c5; }
.partners_register_items_bg 
{
-moz-border-radius: 2px 2px 2px 2px; -webkit-border-radius: 2px 2px 2px 2px; border-radius: 2px 2px 2px 2px;
background-color: #fbf9ee; border: solid 1px #e9e7da; }
.combo { border: solid 1px #9a9999; }
